.heroBox {
  width: 100%;
  display: flex;
  min-height: 100vh; 
  align-items: center;
  justify-content: flex-end; 
  background-image: url('./aboutUsImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.gridContainer {
  display: flex;
  justify-content: flex-end;
  max-width: 1300px; 
  padding: 0;
}

.gridBox {
  background-color: #5c793f;
  padding: 20px;
  max-width: 250px;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  opacity: 0.4;
  /* padding-bottom: 30px; */
  text-transform: uppercase;
}
